.btn-brown-outline {
    color: $brown;
    min-width: 110px;
    padding: 11px 20px;
    border: solid 1px $leather;
    transition: $transition;
    display: inline-block;
    text-align: center;
    font: 600 14px $montserrat;
    &:hover{
        background-color: $leather;
        color: $white;
    }
}

.btn-butterscotch-leather-100{
    color: $white;
    background: linear-gradient(93deg, $butterscotch 20%, $leather-100 113%);
    min-width: 110px;
    padding: 11px 20px;
    transition: $transition;
    display: inline-block;
    text-align: center;
    font: 600 14px $montserrat;
    &:hover{
       opacity: 0.8;
    }
}
.btn-soft-grey{
    color: $white;
    background-color: #AAAAAA;
    min-width: 110px;
    padding: 11px 20px;
    transition: $transition;
    display: inline-block;
    text-align: center;
    font: 600 23px $montserrat;
    &:hover{
        background-color: $leather;
        color: $white;
    }
}

.btn-white{
    color: $black;
    background-color: $white;
    min-width: 110px;
    padding: 11px 20px;
    transition: $transition;
    display: inline-block;
    text-align: center;
    box-shadow: $box-shadow;
    font: 600 23px $montserrat;
    &:hover{
        background-color: $leather;
        color: $white;
    }
}

.circle-plus{
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: solid 1px $leather;
    position: relative;
    &.active{
        .line2{
            transform: rotate(90deg);
        }
    }
    .line{
        height: 2px;
        width: 12px;
        background-color: $leather;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition;

    }
    .line2{
        height: 12px;
        width: 2px;
        background-color: $leather;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: $transition;
    }
}