#indexhero {
    padding-top: 200px;
    padding-bottom: 40px;
    background-image: url(../img/index-hero-bg.png);
    background-repeat: no-repeat;
    background-position: -10% 70%;
    overflow: hidden;
    @include media-down("lg") {
        background-image: none;
        padding-top: 95px;
        .container-fluid {
            padding: 0;
        }
    }

    h1 {
        font-family: $giovanna;
        color: $white;
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 30px;
        @include media-down("lg") {
            font-size: 38px;
          
        }
    }
}
.indexHeroSwiper {
    position: relative;
    .indexHeroSwiper-button-next,
    .indexHeroSwiper-button-prev {
        position: absolute;
        bottom: 50%;
        z-index: 2;
        cursor: pointer;
        transition: $transition;
        filter: drop-shadow(0px 0px 4px black);
        &:hover {
            opacity: 0.6;
        }
        @include media-down("lg") {
            display: none;
        }
    }
    .indexHeroSwiper-button-next {
        right: 30px;
    }
    .indexHeroSwiper-button-prev {
        left: 30px;
    }
    .swiper-slide {
        img {
            border-radius: 20px;
            @include media-down("lg") {
                border-radius: 0px;
            }
        }
    }
    .swiper-pagination {
        position: relative;
        margin-top: 26px;
        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            margin: 0 6px;
            background: none;
            border: solid 3px $secondary;
            &.swiper-pagination-bullet-active {
                border: solid 3px $secondary;
                background-color: $secondary;
            }
        }
    }
}

.produt-info-container {
    padding: 0 100px;
    .img-aligment-left {
        text-align: end;
    }
    @include media-down("lg") {
        padding: 0 40px;
        .img-aligment-left {
            text-align: center;
        }
        .img-aligment-right {
            text-align: center;
        }
    }
    @include media-down("md") {
        padding: 0 20px;
    }
}
.produt-info-negative {
    margin-top: -70px;
    @include media-down("lg") {
        margin-top: 0;
    }
}
.index-product-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    @include media-up("xxl") {
        &.right {
            padding-right: 10%;
        }
    }
    @include media-down("lg") {
        margin-top: 70px;
        padding: 0 20px;
    }
    @include media-down("md") {
        margin-top: 30px;
    }
    h1 {
        font-family: $encode;
        font-weight: 700;
        color: $primary;
        margin-bottom: 14px;
        @include media-down("xl") {
            font-size: 34px;
        }
        @include media-down("md") {
            font-size: 24px;
        }
    }
    p {
        font-family: $encode;
        font-weight: 300;
        color: $primary;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 20px;
        @include media-down("md") {
            font-size: 14px;
        }
    }
}
.page-banner {
    background-image: url(../img/banner-image.png);
    height: 1000px;
    background-size: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    h2 {
        color: $white;
        position: absolute;
        top: 430px;
        left: 340px;
        font-size: 60px;
    }
    h1 {
        position: absolute;
        color: $white;
        right: 260px;
        bottom: 150px;
        font-family: $giovanna;
        font-size: 72px;
    }
    @include media-down("xxl") {
        background-size: auto;
        h1 {
            bottom: 300px;
        }
    }

    @include media-down("xl") {
        height: 700px;

        h2 {
            top: 280px;
            left: 80px;
        }
        h1 {
            right: 80px;
            bottom: 0px;
        }
    }
    @include media-down("lg") {
        height: 500px;
        h2 {
            top: 60px;
            left: 80px;
        }
        h1 {
            right: 80px;
            bottom: 0px;
            font-size: 50px;
        }
    }

    @include media-down("md") {
        height: 360px;

        h2 {
            top: 100px;
            left: 80px;
            font-size: 30px;
        }
        h1 {
            right: 40px;
            bottom: 20px;
            font-size: 50px;
        }
    }
    @include media-down("sm") {
        h2 {
            top: 100px;
            left: 80px;
            font-size: 30px;
        }
        h1 {
            right: 0px;
            bottom: 40px;
            font-size: 30px;
            text-align: center;
            width: 100%;
        }
    }
}
.index-product-list {
    background: url(../img/index-hero-bg.png) no-repeat -340px 83%, url(../img/index-hero-bg.png) no-repeat 128% 11%;
    @include media-down("lg") {
        background-image: none;
    }
    .index-card {
        height: 440px;
        text-align: center;
        background-color: $gray;
        border-radius: 20px;
        padding: 38px;
        margin: 0 30px 60px 30px;
        transition: $transition;
        &:hover {
            transform: scale(1.02);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        @include media-down("xl") {
            margin: 0 0px 60px 0px;
            &:hover {
                transform: scale(1.01);
            }
        }
        @include media-down("lg") {
            margin: 0 20px 60px 20px;

            &:hover {
                transform: scale(1);
                box-shadow: none;
            }
        }
        @include media-down("md") {
            margin: 0 0 60px 0;
            height: 220px;
            padding: 16px;
            img {
                width: 80%;
            }
        }
        @include media-down("sm") {
            height: 180px;
            img {
                width: 68%;
            }
        }
        h5 {
            font-family: $encode;
            color: $primary;
            font-weight: 700;
            font-size: 17px;
            margin-bottom: 5px;
        }
        h6 {
            font-family: $encode;
            color: $primary;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 80px;
            @include media-down("md") {
                margin-bottom: 28px;
            }
        }
    }

    h3 {
        font-family: $encode;
        color: $primary;
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        margin-bottom: 50px;
    }
}

#announcements {
    background-image: url(../img/index-hero-bg.png), url(../img/index-hero-bg.png), url(../img/index-hero-bg.png),
        url(../img/index-hero-bg.png);
    background-repeat: no-repeat;
    background-size: 405px, 180px, 180px, 635px;
    background-position: -200px 517px, 120px 291px, 92% 163px, 134% 190px;

    @include media-down("lg") {
        background: none;
    }
}
// announcementSwiper
.announcementSwiper {
    @include media-down("lg") {
        margin: 0 -10%;
    }

    @include media-down("md") {
        margin: 0 -30%;
    }
    @include media-down("sm") {
        margin: 0 -70%;
    }
}
.announcementSwiper-button-next,
.announcementSwiper-button-prev {
    cursor: pointer;
    font-size: 40px;
    color: $secondary;
    @include media-down("xxl") {
        display: none;
    }
}
.announcementSwiper-button-next {
    margin-left: 20px;
}
.announcementSwiper-button-prev {
    margin-right: 20px;
}
// announcementSwiper

.announcementCard {
    border-radius: 20px;
    background-color: $gray-200;

    img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
    }
    .content {
        padding: 22px;
        h5 {
            opacity: 0.42;
            font: 700 18px $encode;
            color: $primary;
            margin-bottom: 20px;
            @include media-down("md") {
                font-size: 13px;
            }
        }
        h4 {
            font: 700 24px $encode;
            color: $primary;
            margin-bottom: 20px;
            @include media-down("md") {
                font-size: 18px;
            }
        }
    }
}

#blurimage {
    .content {
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        background-color: $gray-500;
        @include media-down("lg") {
            justify-content: center;
            height: auto;
            background: none;
        }
        .shape-wrap {
            position: absolute;
            top: 0;
            right: 0;
            .triangle {
                width: 1028px;
                height: 800px;
                background-color: rgba(255, 255, 255, 0.315);
                margin-right: -514px;
                -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
                clip-path: polygon(100% 0, 0 0, 50% 100%);
                backdrop-filter: blur(12px);
            }
        }
        h1 {
            font: 73px $giovanna;
            color: $primary;
            margin-right: 50px;
            position: relative;
            z-index: 1;
            @media (max-width: 1600px) {
                margin-right: 0px;
                padding-left: 20px;
            }
          
            @include media-down("lg") {
                padding: 36px 0;
                font-size: 50px;
            }
            @include media-down("md") {
                font-size: 26px;
            }
        }
        .radial-img {
            background-image: url(../img/index-hero-bg.png);
            background-repeat: no-repeat;

            width: 635px;
            height: 635px;
            position: absolute;
            z-index: 1;
            bottom: 50%;
            transform: translateY(50%);
            @include media-down("lg") {
                display: none;
            }
        }
    }
    .image-side {
        background-image: url(../img/image-blur-bg.png);
        width: 100%;
        height: 800px;
        @include media-down("lg") {
            height: 400px;
        }
    }
}
