.hero-swiper-section {
    padding-top: 130px;
    @include media-down("lg"){
        padding-top: 90px;
    }
}

.heroSwiper {
    .swiper-slide:not(.swiper-slide-active) {
        .hero-content {
            opacity: 0;
            transform: scale(1.2);
        }
    }
    .hero-wrap {
        position: relative;
        display: flex;
        align-items: center;
        height: 650px;
        @include media-down("sm") {
            align-items: end;
            padding-bottom: 35px;
            height: 400px;
        }

        .hero-content {
            position: relative;
            transition: 1.4s;
            transform: scale(1);
            .title {
                font: 500 84px $montserrat;
                margin-bottom: 18px;
                padding-left: 30px;
                @include media-down("xxl") {
                    font-size: 60px;
                }
                @include media-down("sm") {
                    font-size: 31px;
                    padding-left: 0;
                    width: 80%;
                }
            }
            .detail {
                padding: 30px 30px 30px 20px;
                background-color: rgba(255, 255, 255, 0.72);
                margin-left: -190px;
                padding-left: 220px;
                @include media-down("sm") {
                    padding: 20px 20px 10px 20px;
                    margin-left: -20px;
                }
                .heroSwiper-button-prev,
                .heroSwiper-button-next {
                    cursor: pointer;
                    font-size: 20px;
                    color: $brown-100;
                    &.swiper-button-disabled {
                        color: rgba(213, 185, 126, 0.5);
                    }
                }
                p {
                    font: 450 15px $avenir;
                    @include media-down("sm") {
                        font-size: 13px;
                    }
                }
            }
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.product-features-wrap {
    padding-top: 50px;
    @include media-down("sm") {
      
        padding-top: 0px;
    }
    .main-title {
        color: $dark-beige;
        font: 700 55px $montserrat;
        text-align: center;
        margin-bottom: 45px;
        @include media-down("lg") {
            font-size: 45px;
        }
       
    }
    .product-feature-content {
        padding: 24px 31px;
        background-color: rgba(255, 255, 255, 0.85);
        position: relative;
        z-index: 2;
        @include media-down("lg") {
            margin-bottom: 45px;
        }

        &.negative-right {
            margin-left: -160px;
            margin-right: 70px;
        }
        &.negative-left {
            margin-right: -160px;
            padding-right: 160px;
        }

        .title {
            font: 700 35px $montserrat;
            color: $dark-beige;
            display: inline-block;
            padding-bottom: 7px;
            margin-bottom: 24px;
            position: relative;

            &::after {
                content: "";
                height: 4px;
                width: 160px;
                bottom: 0;
                left: 0;
                background-color: $dark-beige;
                position: absolute;
            }
            @include media-down("xl") {
                padding-bottom: 10px;
                &::after {
                    width: 110px;
                }
            }
        }
        p {
            font: 500 16px $montserrat;
            color: $black;
            margin-bottom: 26px;
            line-height: 1.38;
            @include media-down("sm") {
                font: 450 13px $avenir;
            }
        }
        @include media-down("xl") {
            padding: 25px;
            .title {
                font-size: 25px;
                margin-bottom: 18px;
            }
            p {
                font-size: 14px;
                margin-bottom: 18px;
            }
            &.negative-right {
                margin-left: 0;
                margin-right: 0;
                padding: 25px;
            }
            &.negative-left {
                margin-left: 0;
                margin-right: 0;
                padding-right: 25px;
            }
        }
       
    }
}
.product-features-container {
    padding: 0 150px;
    overflow: hidden;
    @include media-down("lg") {
        padding: 0;
    }
}
.feature1Swiper {
    height: 100%;
    img {
        height: 100%;
        width: 100%;
    }
}
.featured-pagination {
    .swiper-pagination {
        display: flex;
        margin-left: 20px;
        margin-bottom: 14px;
        @include media-down("md"){
            justify-content: center;
            margin-left:0;
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background-color: $black;
            &.swiper-pagination-bullet-active {
                background-color: $white;
            }
        }
    }
}

.featured-swiper-container {
    h2 {
        font: 700 38px $montserrat;
        color: $black;
        text-align: center;
        @include media-down("sm"){
            font-size: 24px;
        }
    }
    .featuredProductFluidSwiper {
        .featuredProductFluidSwiper-button-prev,
        .featuredProductFluidSwiper-button-next {
            color: $brown-100;
            margin: 0 10px;
            font-size: 20px;
            cursor: pointer;
            transition: $transition;

            &.swiper-button-disabled {
                color: $grey;
            }
        }
        .card-wrap {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .card-title {
                position: absolute;
                top: 64px;
                left: 30px;
                font: 500 36px $montserrat;
                color: $brown-100;
                @include media-down("sm"){
                    font-size: 28px;
                }
            }
            .sub-title {
                writing-mode: vertical-rl;
                text-orientation: upright;
                position: absolute;
                left: 30px;
                bottom: 30px;
                font: 500 17px $montserrat;
                color: $white;
            }
        }
    }
}

.brand-information-card {
    display: flex;
    flex-direction: column;
    padding: 54px;
    border: solid 2px #e5e5e5;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    &.active {
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .square {
        width: 111px;
        height: 111px;
        border-radius: 8px;
        border: 1px solid $butterscotch;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
    }
    .title {
        font: 700 38px $montserrat;
        color: $black;
        margin-bottom: 18px;
    }
    p {
        font: 450 16px $avenir;
        color: $black;
        line-height: 22px;
    }
    a {
        min-width: 225px;
        height: 73px;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 600 23px $montserrat;
    }
}
.parallax-wrap > * {
    background-color: white;
}
.parallax-wrap {
    .parallaxed {
        z-index: -2;
        height: 100vh;
        position: fixed;
        top: 0;
    }
    .parallaxed-image {
        background: transparent;
        height: 200px;
    }
}
