.product-features-wrap{
    padding-top: 50px;
    .main-title{
        color: $dark-beige;
        font: 700 55px $montserrat;
        text-align: center;
        margin-bottom: 45px;
    }
}
.product-features-container{
    padding: 0 150px;
}
.featured-pagination{
    .swiper-pagination{
        display: flex;
        margin-left: 20px;
        margin-bottom: 14px;
        .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
            background-color: $black;
            &.swiper-pagination-bullet-active{
                background-color: $white;
            }
        }
    }
}