.product-detail-images-wrap{
    img{
        width: 100%;
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
}

.product-detail-info{
    top: 140px;
    position: sticky;
    padding: 60px 36px;
    background-color: #F5F5F5;
    transition: $transition;
    .sub-title{
        font: 600 20px $montserrat;
    }
    .title{
        font: 600 24px $montserrat;
        margin: 70px 0;
    }
    .content{
        list-style: none;
        li{
            display: flex;
            justify-content: space-between;
            &:not(:last-child){
                margin-bottom: 30px;

            }
            h4{
                font: 700 14px $montserrat;
            }
            h5{
                font: 600 16px $montserrat;
            }
        }
    }
    .buttons{
        display: flex;
        align-items: center;
        span{
            color: $brown-100;
            font-size: 18px;
            cursor: pointer;
            transition: $transition;
            &.not{
                color: rgba(213, 185, 126, 0.4);
            }
            &:hover{
                color: rgba(213, 185, 126, 0.4);
            }
        }
    }
}