header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: $white;
    transition: $transition;
    &.scrolled{
        box-shadow: $box-shadow;
    }
    .logo {
        margin-right: auto;
        align-self: center;
    }
    .header {
        display: flex;
        height: 130px;
        align-items: flex-end;
        .navbar {
            display: flex;
            align-items: center;
            .nav {
                display: flex;
                list-style: none;
                li {
                    margin: 0 20px;
                    @include media-down("xl"){
                        margin: 0 10px;
                    }
                    .nav-link {
                        font: 500 14px $montserrat;
                        transition: $transition;
                        &:hover {
                            color: $leather;
                        }
                    }
                }
            }
        }
        .socials {
            display: flex;
            justify-content: end;
            margin-bottom: 10px;
            a {
                display: flex;
                padding: 4px;
                border: solid 1px #d5b97e2c;
                color: $brown-100;
                width: 30px;
                height: 30px;
                align-items: center;
                justify-content: center;
                margin-left: 12px;
                transition: $transition;
                &:hover{
                    background-color: $brown-100;
                    color: $white;
                }
            }
        }
        .search-input{
            border: solid 1px $leather;
            margin-left: 40px;
            display: flex;
            align-items: center;
            background-color: $light-100;
            font: 500 14px $montserrat;
            @include media-down("xl"){
                margin-left: 20px;
                width: 150px;
            }
            input{
                padding-left: 10px;
                color: $black;
                width: 100%;
                &::placeholder{
                    color: $grey-100;
                }
            }
            span{
                align-items: center;
                padding: 10px;
                font-size: 18px;
                color: $grey-100;
                cursor: pointer;
            }
        }
    }
}
