.page-title-v1 {
    .title {
        font: 700 61px $montserrat;
        margin-bottom: 16px;
    }
    .sub-title {
        font: 400 32px $montserrat;
        color: $brown-100;
        margin-bottom: 10px;
    }
    .mini-title {
        font: 400 24px $montserrat;
        margin-bottom: 55px;
    }
}
