.who-we-are-wrap {
    .title {
        font: 700 61px $montserrat;
        padding-bottom: 40px;
    }
    .fs-1 {
        font: 500 22px $montserrat;
        line-height: 32px;
    }
    .fs-2 {
        font: 450 16px $avenir;
        color: $grey-300;
        line-height: 22px;
    }
}
